{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'greatreads/style.css' %}" />
        <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    </head>
<body>
        <header>
            <h1>Welcome to Greatreads!<h1>
            <h2>Search the Goodreads database here</h2>
        </header>

        {% if latest_search_list %}
            <ul>
            {% for search in latest_search_list %}
                <li>{{ search.search_text }}
                    <form action="{% url 'greatreads:results' search.id %}" method="post">
                    {% csrf_token %}
                    <!-- {% for input in search.input_set.all %}
                        <input type="text" placeholder="enter text" name="input" id="input{{ forloop.counter }}" value="{{ input.id }}" />
                        <br /><br />
                    {% endfor %} -->
                    <input type="text" />
                    <!-- <button type="submit">Submit</button> -->
                    </form>

                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No searches are available.</p>
        {% endif %}
    </body>
</html>
