

<h1>{{ search.search_text }}</h1>
{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}

<form action="{% url 'greatreads:results' search.id %}" method="post">
{% csrf_token %}
{% for input in search.input_set.all %}
    <input type="text" placeholder="enter text" name="input" id="input{{ forloop.counter }}" value="{{ input.id }}" />
    <label for="input{{ forloop.counter }}">{{ input.input_text }}</label><br />
{% endfor %}
<input type="submit" value="Submit" />
<!-- <button type="submit">Submit</button> -->
</form>
